<!-- Nimi/Sisu	Hinne	Hinde selgitus/märkus/kiitus	Kodutöö	Kodutöö tähtaeg	Puudumine
27.02.2024	Hindamine /
Teha:
1. Päisemenüüs on lingid ja iga link viib kuskile ja sealt saab tagasi tulla index vaatesse.
2. Sama on ka olukord More Articles all, kus iga link peab viima pikema artikli teksti juurde ja tagasi saab indexi vaatesse.
2.1 Kui lähed More Articles all olevasse uudisesse, siis seal peab saama näha pilti ja uudist.
3. Jaluse menüüs on kaks linki, kus saab peale klikkides minna uude vaatesse ja siis tagasi indexi vaatesse.
4. Kui leiate veel hyperlinke, siis need tuleb ka ära käsitleda.
 
NB! Kõik vaated peavad olema ühesuguse disainiga. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/960_12_col.css" />
    <title>More Articles</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div class="header">
        <div class="container_12">
            <div class="grid_5">
                <img src="../images/logo.png" alt="Pedal Faster - The modern bicycle magazine" width="216" height="37"
                    class="logo" />
                <img src="../images/header-triangle.png" alt="" width="116" height="100" />
            </div>
            <div class="nav grid_7">
                <a href="../index.html">home</a>
            </div>
        </div>
    </div>
    <div class="wrapper"  style="margin-top: 200px;">
        <!-- Main story -->
        <div class="more-articles container_12">
            <h2 class="grid_12"><a href="/views/more_articles.html">More Articles</a></h2>
            <div class="grid_3">
                <img src="../images/more1.jpg" alt="The road ahead" width="220" height="125" />
                <p><a href="/views/articles/on_the_road.html">On the Road: From the fixed gear fanatic's point of view</a></p>
                <p><a href="/views/articles/brand_history.html">Brand History: Pashley Cycles - hand-built in England</a></p>
                <p><a href="/views/articles/frame_wars.html">Frame Wars: Innovations in cycle manufacture and repair</a></p>
            </div>
            <div class="grid_3">
                <img src="../images/more2.jpg" alt="Sketchbook" width="220" height="125" />
                <p><a href="/views/articles/touring_diary.html">Touring Diary: A sketchbook in your basket</a></p>
                <p><a href="/views/articles/top_ten_newcomers.html">Top Ten Newcomers for 2023: A peek at what's to come</a></p>
                <p><a href="/views/articles/innertube.html">InnerTube: The best cycling videos on the web</a></p>
            </div>
            <div class="grid_3">
                <img src="../images/more3.jpg" alt="Repair shop sign" width="220" height="125" />
                <p><a href="/views/articles/product_review.html">Product Review: All baskets were not created equal</a></p>
                <p><a href="/views/articles/going_public.html">Going Public: Out &amp; about width the founder of Public</a></p>
                <p><a href="/views/articles/cycle_lane_defence.html">Cycle Lane Defence: Know your rights</a></p>
            </div>
            <div class="grid_3">
                <img src="../images/more4.jpg" alt="Schwinn Spitfire" width="220" height="125" />
                <p><a href="/views/articles/hall_of_fame.html">Bicycle Hall of Fame: The 1958 Schwinn Spitfire</a></p>
                <p><a href="/views/articles/survey.html">Reader Survey: Share your thoughts with us!</a></p>
                <p><a href="/views/articles/chain_gang.html">Chaing Gang: The evolution of the humble bike chain</a></p>
            </div>
        </div>
    </div>
    <div class="footer clearfix">
        <div class="container_12">
            <p class="grid_12"><a href="/views/legal.html">Legal Information</a> | <a href="/views/privacy_policy.html">Privacy Policy</a> | <a href="/views/copyright.html">Copyright
                    &copy; Pedal Faster 2023</a></p>
        </div>
    </div>
</body>

</html>